<template>
    <div>
        <div class="card m-4">
            <div class="card-header">
                Listar Categoria
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre de categorya</th>
                        <th scope="col">Fecha de creacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(category,index) in getCategorys" :key="index" :value="category.id">
                            <th scope="row">{{index+1}}</th>
                            <td>{{category.name}}</td>
                            <td>{{category.created}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name: 'AllCategory',
    computed: {
        ...mapGetters ({
            getCategorys:'category/get_all_category'
        })
    },
    methods: {
        ...mapActions({
            get_all_categorys:'category/getCategorysAll'
        }),
    },
    mounted() {
        this.get_all_categorys()
    }
}
</script>