<template>
    <div class="card mb-4">
        <div class="card-header">
            Realizar Reserva
        </div>
        <div class="card-body">
            <form @submit.prevent="submit" id="createPost">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input class="form-control" id="title" type="text" name="text" placeholder="Titulo" v-model="form.title" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="category">Categoria</label>
                    <select class="form-control" id="category" name="category" v-model="form.category">
                        <option selected="true" disabled="disabled" value="">Seleccione una Categoria</option>
                        <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Eliga una fecha de cita</label>
                    <input class="form-control" type="date" id="date" name="date" v-model="form.date">
                </div>
                <div class="form-group">
                    <input class="form-control" type="time" id="time" name="hora" max="18:30:00" min="10:00:00" v-model="form.time">
                </div>
                <div class="form-group">
                    <label for="image">Imagen</label>
                    <input class="form-control" id="image" type="file" name="image" rows="3" placeholder="Imagen" v-on:change="onImageChange">
                </div>
                <div class="form-group">
                    <label for="body">Sintomas</label>
                    <textarea class="form-control" id="body" name="body" rows="3" v-model="form.body"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Reservar</button>
            </form>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name: 'CreatePost',
    data() {
        return {
            form: {
                date: '',
                time: '',
                title:'',
                category:'',
                body:''
            },
            image:''
        }
    },
    computed: {
        ...mapGetters ({
            getCategorys:'category/get_all_category'
        })
    },
    methods: {
        ...mapActions({
            send_create_post: 'post/createPost',
            get_all_categorys:'category/getCategorysAll'
        }),
        onImageChange(e) {
            this.image = e.target.files[0]
        },
        async submit() {
            // await this.send_create_post(this.form)
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            let formdata = new FormData()
            formdata.append('file',this.image)
            formdata.append('form', JSON.stringify(this.form))

            // for(var key of formdata.entries()) {
            //     console.log(key[0] + ', '+key[1])
            // }

            let data = {
                config:config,
                formdata:formdata
            }
            try {
                await this.send_create_post(data)   
                $('#createPost')[0].reset()
                this.$swal({
                    icon: 'succes',
                    title: 'Creado Correcto',
                    showConfirmButton: false,
					text: 'Creado correctamente',
                    timer: 1500
                })
            } catch (error) {
                console.log(error)
                let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: msgError,
				})                
            }
        },
    },
    mounted() {
            this.get_all_categorys()
    }
}
</script>
