<template>
    <div class="card mb-4">
        <div class="card-header">
            Editar Publicacion
        </div>
        <div class="card-body">
            <form @submit.prevent="submit">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input class="form-control" id="title" type="text" name="text" placeholder="Titulo" v-model="getPost.title" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="category">Categoria</label>
                    <select class="form-control" id="category" name="category" v-model="getPost.categoryId">
                        <option selected="true" disabled="disabled" value="">Seleccione una Categoria</option>
                        <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Eliga una fecha de cita</label>
                    <input class="form-control" type="date" id="date" name="date" v-model="getPost.date">
                </div>
                <div class="form-group">
                    <input class="form-control" type="time" id="time" name="hora" max="18:30:00" min="10:00:00" v-model="getPost.time">
                </div>
                <div class="form-group">
                    <label for="image">Imagen</label>
                    <input class="form-control" id="image" type="file" name="image" rows="3" placeholder="Imagen" v-on:change="onImageChange">
                </div>
                <div class="form-group">
                    <label for="body">Contenido</label>
                    <textarea class="form-control" id="body" name="body" rows="3" v-model="getPost.body"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Editar Publicacion</button>
            </form>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name: 'Posts',
    data() {
        return {
            form: {
                date: '',
                time: '',
                title:'',
                category:'',
                body:''
            },
            image:''
        }
    },
    computed: {
        ...mapGetters ({
            getCategorys:'category/get_all_category',
            getPost:'post/detail_post'
        })
    },
    methods: {
        ...mapActions({
            get_all_categorys:'category/getCategorysAll',
            get_post:'post/detailPost',
            edit_post: 'post/editPost'
        }),
        onImageChange(e) {
            this.image = e.target.files[0]
        },
        async submit() {
            this.form = {
                title: $('#title').val(),
                category: $('#category').val(),
                time: $('#time').val(),
                date: $('#date').val(),
                body: $('#body').val(),
                idpost: this.getPost.id //esto para mi propio metodo
            }
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            let formdata = new FormData();

            formdata.append('file',this.image)
            formdata.append('form', JSON.stringify(this.form))
            // formdata.append('_method','PUT') //add para el metodo por defecto put para actualizar         <----comenta eso

            for(var value of formdata.values()) {
                console.log(value)
            }
            

            let data = {
                config:config,
                parameter: this.$route.params.slug,
                formdata:formdata
            }
            
            await this.edit_post(data)
        },
        
    },
    mounted() {
        // console.log()
        this.get_all_categorys()
        this.get_post(this.$route.params.slug)
    }
}
</script>
