<template>
    <div>
        <NavHome/>
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Clinica Dental Llanos</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. In maiores sit soluta placeat mollitia. Inventore, consectetur</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
                    </div>
                </div>
            </div> 
        </header>
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">NOS PREOCUPAMOS POR TU SONRISA</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, modi. Similique fugit asperiores ea possimus perferendis nihil atque</p>
                        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Project-->
        
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <h2 class="text-center mt-0">NUESTRO SERVICIOS</h2>
                <hr class="divider my-4">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-tooth text-primary mb-4" aria-hidden="true"></i>
                            <h3 class="h4 mb-2">Odontología de Avanzada</h3>
                            <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Equipos de Alta Tecnología</h3>
                            <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Oficinas Confortables</h3>
                            <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Equipo Amigable</h3>
                            <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container text-center">
                <h2 class="mb-4">CONTACTANOS</h2>
                <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Llamar al: 72549764</a>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">NUESTRAS REDES SOCIALES</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fab fa-facebook fa-4x mb-3 text-muted"></i>
                        <a class="d-block" href="#"> Clinica Dental Llanos</a>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fab fa-twitter fa-4x mb-3 text-muted"></i>
                        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                        <a class="d-block" href="#">Clinca Dental Llanos</a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="bg-light py-5">
            <div class="container">
                <div class="small text-center text-muted">Copyright © 202 - Creado por Joel LLanos Dev-Frontend</div>
            </div>
        </footer>
    </div>
</template>
<script>
import NavHome from '../components/NavHome'
export default {
    name:'Home',
    components: {NavHome}
}
</script>