<template>
    <div class="row">
        <div class="col-lg-6 mb-6" v-for="(post,index) in getposts.data" :key="index" style="margin-bottom: 40px">
            <div class="card shadow mb-3 h-100" style="margin-bottom: 5px">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <!-- <router-link :to="'detail-post/'+post.path">
                            {{post.title}}
                        </router-link> -->
                        <router-link :to="{ name: 'dashboard.detailpost', params: { slug: post.path }}">{{post.title}}</router-link>
                    </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Editar</a>
                            <a class="dropdown-item" href="#">Eliminar</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <img :src="post.photo" width="100%" height="300px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-default">
                                <p>Realizado por: {{post.user.name}}</p>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <span class="text-danger text-right d-block">
                                {{post.added}}
                            </span>
                        </div>
                        <div class="d-flex justify-content-end" style="margin-left: 15px">
                            <div class="">
                                <span class="text-danger text-right d-block">
                                    <p>En Fecha: {{post.date}}</p>
                                </span>
                            </div>
                            <div style="margin-left: 510px;">
                                <span class="text-danger text-right d-block">
                                    <p>A horas: {{post.time}}</p>
                                </span>
                            </div>
                        </div>  
                    </div>
                    <p class="lead">{{post.body.substr(0,200)}}...</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
export default {
    name: 'Posts',
    computed: {
        ...mapGetters({
            getposts: 'post/reponsePosts'
        })
    },
    methods: {
        ...mapActions ({
            getallposts: 'post/getAllPost',
            // signOut:'auth/signOut',
        }),
    },
    created() {
        this.getallposts()
    },
}
</script>